.result {
  padding: 50px 2rem;
  background-color: #F7F7F7;
  .loader{
    text-align: center;
    margin-bottom: 10px;
  }

  .row {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;

    img {
      max-height: 200px;
      object-fit: contain;
    }
  }

  label {
    color: black;
  }

  .d-flex {
    display: flex;
    background-color: #edf2f7;
  }
}