.result {
  padding: 5vw 2vw;
  background-color: #F7F7F7;
  .loader{
    text-align: center;
    margin-bottom: 10px;
  }

  .row {
    columns: 3;
    column-gap: 15px;
  }

  label {
    color: black;
  }

  .d-flex {
    display: flex;
    background-color: #edf2f7;
  }
}