<div class="flex row container mb-20">
    <div class="form flex column">
        <label>
            Sign up and
        </label>
        <label class="mb-20">get free content every week.</label>
        <input class="mb-20" type="text" placeholder="Enter your email">
        <button>Sign Up</button>
    </div>
    <div class="flex column links">
        <label class="mb-20">Browse By category</label>
        <div class="category">
            <a href="#">Graphics</a>
            <a href="#">Addons</a>
            <a href="#">Buttons</a>
            <a href="#">Infographics</a>
            <a href="#">PSD's</a>
            <a href="#">Fonts</a>
            <a href="#">Forms</a>
             <a href="#">Graphs</a>
             <a href="#">Icons</a>
             <a href="#">Textures</a>
             <a href="#">GUI</a>
             <a href="#">Logos</a>
             <a href="#">Templates</a>
             <a href="#">Patterns</a>
             <a href="#">Navigation</a>
             <a href="#">Vectors</a>
             <a href="#">Themes</a>
             <a href="#">Backgrounds</a>
             <a href="#">UI Kits</a>
            <a href="#">Business Cards</a>

        </div>

    </div>

</div>
<div class="text-gray information">
    <div class="flex row mb-10 align-center wrap">
        <div class="info-links">
            <a href="#">Affiliates</a>/
            <a href="#">Contributors</a>/
             <a href="#">Press/Media</a>/
             <a href="#">Careers</a>/
             <a href="#">About</a>/
             <a href="#">Contact</a>
             
        </div>
        <div>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-google" aria-hidden="true"></i>
            <i class="fa fa-rss" aria-hidden="true"></i>
        </div>

    </div>
    Copyrights © 2018 myCompany All rights reserved.
</div>