<div class="container">
    <h1>Gif Search</h1>
    <div class="row">
        <input (keyup.enter)="search()" [(ngModel)]="searchTerm" type="text" class="main-name" placeholder="What are you looking for?" />
        <div class="dropdown">
            <button (click)="clicked =true"  class="dropbtn">{{selected}}  <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
            <div id="myDropdown" class="dropdown-content" [ngClass]="{'show':clicked }">
                <a (click)="update('Value 1')" href="#">Value 1</a>
                <a (click)="update('Value 2')" href="#">Value 2</a>
                <a (click)="update('Show All')" href="#">Show All</a>
            </div>
        </div>
        <button class="btn" (click)="search()" >
            <i class="fa fa-search" aria-hidden="true"> </i>
        </button>
    </div>
    <h3>You Can search any gif with our search</h3>
    <h4>Everything you need for your creative project. websites, banners, presentaions, magazines, and advertising.</h4>
</div>